 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/255546386_112316704591705_2399221389000473994_n.jpeg");
  background-position: 50% 50%;
  min-height: 348px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-shadow: 1px 2px 8px rgba(26,26,26,1);
  font-size: 3.75rem;
  margin: 60px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-right: calc(((100% - 1140px) / 2) + 129px);
    margin-left: calc(((100% - 1140px) / 2) + 151px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: 120%;
    min-height: 220px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 165px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 104px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: url("images/bg1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 846px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 54px 51px 0 30px;
}

.u-section-2 .u-video-1 {
  height: 503px;
  width: 1117px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 58px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("images/ScreenShot2022-07-07at10.39.47AM.png");
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    height: 424px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-video-1 {
    height: 325px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-2 .u-video-1 {
    height: 244px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-video-1 {
    height: 154px;
    width: 340px;
    margin-bottom: -101px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/275298736_2007740942743395_7781921862741960132_n.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 942px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1080px;
  margin: 9px 60px 24px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 909px;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 451px;
  height: 493px;
  margin: 25px 78px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 361px;
  height: 206px;
  margin: -31px auto 0 16px;
}

.u-section-3 .u-image-3 {
  width: 361px;
  height: 213px;
  margin: -42px 16px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 909px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 51px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 16px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 24px 44px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 150px;
  min-width: 68px;
  margin: 25px auto 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -103px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 880px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 370px;
    height: 492px;
    margin-top: 3px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    width: 250px;
    margin-top: -21px;
    margin-left: 19px;
  }

  .u-section-3 .u-image-3 {
    width: 250px;
    margin-top: -57px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 880px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 8px 0;
  }

  .u-section-3 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 881px;
  }

  .u-section-3 .u-image-1 {
    width: 348px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-2 {
    width: 243px;
    height: 188px;
    background-position: 50% 50%;
    margin-top: -36px;
    margin-left: -12px;
  }

  .u-section-3 .u-image-3 {
    height: 188px;
    background-position: 50% 50%;
    margin-top: -85px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 881px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 7px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 7px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 46px;
    margin-right: 23px;
    margin-left: 7px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 19px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 978px;
  }

  .u-section-3 .u-image-1 {
    width: 338px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: 93px;
  }

  .u-section-3 .u-image-2 {
    width: 288px;
    height: 200px;
    margin-top: 46px;
    margin-left: 19px;
  }

  .u-section-3 .u-image-3 {
    width: 294px;
    height: 200px;
    margin-top: -62px;
    margin-right: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -47px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
    margin-right: 27px;
    margin-left: 4px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 27px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 870px;
  }

  .u-section-3 .u-image-1 {
    width: 328px;
    height: 452px;
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-2 {
    width: 196px;
    height: 129px;
    margin-top: 27px;
    margin-right: 144px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 195px;
    height: 129px;
    margin-top: 27px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }
}